body {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.login-container {
    min-height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

    width: 100%;
}
